	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->

</div></div></div>

<!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF --><br />	<br /></div>
</center>
</div></div></div>

<!-- Footer Start -->
<div id="footer">
	<!-- 960 Container -->
	<div class="container">
	
		<!-- Footer / Bottom -->
		<div class="sixteen columns">
			<div id="footer-bottom">
				© Copyright 2012 <a href="#">3D Print Club</a>. All rights reserved.
				<div id="scroll-top-top"><a href="#"></a></div>
			</div>
		</div>

	</div>
	<!-- 960 Container / End -->

</div>


</div>


</div>

</body>

</html>